<template>
  <table class="calendar">
    <thead>
      <tr>
        <td
          :disabled="isFirstMonth"
          :class="{ disabled: isFirstMonth }"
          class="switcher"
          @click="decreaseMonth()"
        >
          <fa icon="angle-left" />
        </td>
        <td colspan="5" class="month-year">
          <calendar-link :year="selectedYear" :month="selectedMonth">
            {{ selectedMonthName }}
          </calendar-link>
          <calendar-link :year="selectedYear">
            {{ selectedYear }}
          </calendar-link>
        </td>
        <td
          :disabled="isLastMonth"
          :class="{ disabled: isLastMonth }"
          class="switcher"
          @click="increaseMonth()"
        >
          <fa icon="angle-right" />
        </td>
      </tr>
      <tr>
        <td v-for="weekday in $moment.weekdaysShort(true)" :key="weekday">
          {{ weekday }}
        </td>
      </tr>
    </thead>
    <tbody>
      <tr v-for="i in 6" :key="i">
        <td v-for="j in 7" :key="j" :class="{ today: isToday(i, j) }">
          <calendar-link
            :year="selectedYear"
            :month="selectedMonth"
            :day="getDay(i, j) || false"
          >
            {{ getDay(i, j) }}
          </calendar-link>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import CalendarLink from '~/components/news/CalendarLink'

export default {
  components: { CalendarLink },
  data() {
    return {
      selectedYear: this.year,
      selectedMonth: this.month,
      selectedMonthDays: []
    }
  },
  computed: {
    ...mapState({
      dates: state => state.news.dates,
      url: state => state.news.url,
      year: state => state.news.year,
      month: state => state.news.month,
      day: state => state.news.day
    }),
    ...mapGetters({
      maxYear: 'news/maxYear',
      minYear: 'news/minYear',
      maxMonth: 'news/maxMonth',
      minMonth: 'news/minMonth'
    }),
    selectedMonthName() {
      return this.$moment.months(this.selectedMonth)
    },
    isFirstMonth() {
      return (
        this.selectedMonth === this.minMonth(this.selectedYear) &&
        this.selectedYear === this.minYear
      )
    },
    isLastMonth() {
      return (
        this.selectedMonth === this.maxMonth(this.selectedYear) &&
        this.selectedYear === this.maxYear
      )
    }
  },
  watch: {
    selectedMonth: {
      handler() {
        this.setDays()
      },
      immediate: true
    },
    year: {
      handler(value) {
        this.selectedYear = value
      },
      immediate: true
    },
    month: {
      handler(value) {
        this.selectedMonth = value
      },
      immediate: true
    }
  },
  mounted() {
    this.selectedYear = this.year
    this.selectedMonth = this.month
  },
  methods: {
    isToday(week, day) {
      if (
        this.year === this.selectedYear &&
        this.month === this.selectedMonth
      ) {
        return this.getDay(week, day) === this.day
      }
      return false
    },
    getDay(week, day) {
      day = 7 * (week - 1) + day
      return this.selectedMonthDays[day - 1]
    },
    setDays() {
      const days = new Array(42)
      const date = this.$moment(
        this.selectedYear + '-' + (this.selectedMonth + 1),
        'YYYY-MM'
      )
      for (
        let i = 1, j = date.isoWeekday();
        i <= date.daysInMonth();
        j++, i++
      ) {
        days[j - 1] = i
      }
      this.selectedMonthDays = days
    },
    decreaseMonth() {
      if (!this.isFirstMonth) {
        if (this.selectedMonth === 0) {
          this.selectedYear--
          this.selectedMonth = 11
        } else {
          this.selectedMonth--
        }
      }
    },
    increaseMonth() {
      if (!this.isLastMonth) {
        if (this.selectedMonth === 11) {
          this.selectedYear++
          this.selectedMonth = 0
        } else {
          this.selectedMonth++
        }
      }
    }
  }
}
</script>
