<template>
  <nuxt-link v-if="link" :to="link">
    <slot />
  </nuxt-link>
  <span v-else>
    <slot />
  </span>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: {
    year: { type: Number, required: true },
    month: { type: Number, default: undefined },
    day: { type: [Number, Boolean], default: undefined }
  },
  computed: {
    ...mapGetters({
      dateLink: 'news/dateLink'
    }),
    link() {
      return this.dateLink(this.year, this.month, this.day)
    }
  }
}
</script>
