<template>
  <div class="categories">
    <nuxt-link
      v-for="category in categories"
      :key="category.slug"
      :to="{ name: 'news-category', params: { category: category.slug } }"
    >
      {{ category.name }}
    </nuxt-link>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState({
      categories: state => state.news.categories
    })
  }
}
</script>
