<template>
  <b-col v-bind="$attrs" class="news latest-news">
    <b-row>
      <b-col>
        <h1 class="h2 cyrillic mb-0">Последние новости</h1>
      </b-col>
    </b-row>
    <b-row>
      <news-item md="7" />
      <b-col md="5">
        <div class="d-flex flex-column justify-content-between h-100">
          <news-item-small v-for="i in 3" :key="i" />
        </div>
      </b-col>
    </b-row>
  </b-col>
</template>

<script>
import NewsItem from '~/components/news/NewsItem'
import NewsItemSmall from '~/components/news/NewsItemSmall'

export default {
  components: { NewsItem, NewsItemSmall }
}
</script>
