<template>
  <b-col v-bind="$attrs" class="news-item">
    <div class="timestamp">
      <span class="date">27.05</span>
      <span class="year">2019</span>
    </div>
    <embed-image
      url="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
    />
    <h2 class="h3">Single post sample</h2>
    <b-link v-if="!$route.params.category" class="category" to="bash">
      Политика
    </b-link>
    <p class="wb-normal" v-line-clamp="5">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum,
      libero id imperdiet elementum, nunc quam gravida mi, vehicula euismod
      magna lacus ornare mauris. Proin euismod scelerisque risus. Vivamus
      imperdiet Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rutrum,
      libero id imperdiet elementum, nunc quam gravida mi, vehicula euismod
      magna lacus ornare mauris. Proin euismod scelerisque risus. Vivamus
      imperdiet
    </p>
    <div class="text-right">
      <read-more to="https://bash.im" />
    </div>
  </b-col>
</template>

<script>
import EmbedImage from '~/components/EmbedImage'
import ReadMore from '~/components/ReadMore'

export default {
  components: { EmbedImage, ReadMore }
}
</script>
