<template>
  <b-row class="mb-4 news-item-small">
    <b-col cols="5" class="cover">
      <embed-image url="http://eparhiya.od.ua/upload/tmp/prevu/_73O5585.jpg" />
      <span class="timestamp">12.01.2016</span>
      <!--b-link class="category" to="bash">
        Политика
      </b-link-->
    </b-col>
    <b-col cols="7">
      <h2 v-line-clamp="6">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
        rutrum, libero id imperdiet elementum, nunc quam gravida mi, vehicula
        euismod magna lacus ornare mauris. Proin euismod scelerisque risus.
        Vivamus imperdiet Lorem ipsum dolor sit amet, consectetur adipiscing
        elit.
      </h2>
      <div class="text-right mt-2">
        <read-more to="#" />
      </div>
    </b-col>
  </b-row>
</template>

<script>
import EmbedImage from '~/components/EmbedImage'
import ReadMore from '~/components/ReadMore'

export default {
  components: { EmbedImage, ReadMore }
}
</script>
