<template>
  <div>
    <b-col lg="9">
      <b-row class="news cols-2">
        <news-item v-for="i in 7" :key="i" md="6" />
      </b-row>
    </b-col>
    <sidebar-component class="col-lg-3" />
  </div>
</template>

<script>
import NewsItem from '~/components/news/NewsItem'
import SidebarComponent from '~/components/news/SidebarComponent'

export default {
  components: { NewsItem, SidebarComponent },
  computed: {
    category() {
      return this.data
    }
  },
  mounted() {
    this.$store.commit('news/setUrl', this.$route.params)
    this.$store.dispatch('news/setDate', this.$route.params)
  }
}
</script>
