<template>
  <div class="sidebar">
    <sidebar-item header="Календарь новостей">
      <no-ssr>
        <calendar-component />
      </no-ssr>
    </sidebar-item>
    <sidebar-item header="Категории">
      <categories-component />
    </sidebar-item>
  </div>
</template>

<script>
import SidebarItem from '~/components/SidebarItem'
import CalendarComponent from '~/components/news/CalendarComponent'
import CategoriesComponent from '~/components/news/CategoriesComponent'

export default {
  components: {
    SidebarItem,
    CalendarComponent,
    CategoriesComponent
  }
}
</script>
