table.calendar {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.15rem;

  .switcher {
    cursor: pointer;
    font-size: 2rem;
    @include transition;
    @include hover-focus-active {
      color: $brand-primary;
    }
  }

  tr {
    height: 35px;
    padding: 0;

    td {
      a {
        @include hover-focus-active {
          background-color: darken($brand-primary, 10%);
          color: #fff;
        }
      }
    }
  }

  thead {
    @include noselect;

    tr {
      a, span {
        width: auto;
        padding-left: 5px;
        padding-right: 5px;
        color: $text-color;
        font-size: 1.3rem;
      }

      &:first-child {
        height: 55px;
        border-bottom: 2px solid #d6d6d6;
      }

      &:last-child {
        height: 45px;
        color: #34495e;
      }
    }
  }

  tbody {
    tr {
      td {
        color: #8a8a8a;
        width: 14.285%;

        &.today {
          a,
          span {
            background-color: $brand-primary;
            color: #fff;
          }
        }

        &.holiday,
        &:nth-child(6),
        &:nth-child(7) {
          color: rgb(231, 140, 92);
        }

        a,
        span {
          width: 100%;
          height: 100%;
          display: block;
          color: inherit;
        }

        a {
          border-bottom: 2px solid darken($brand-primary, 10%);
          margin-bottom: -2px;
        }
      }
    }
  }
}
