@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

@font-face {
  font-family: '27364';
  src: url('../fonts/27364-bd.eot');
  src: url('../fonts/27364-bd.eot?#iefix') format('embedded-opentype'),
  url('../fonts/27364-bd.woff') format('woff'),
  url('../fonts/27364-bd.ttf') format('truetype'),
  url('../fonts/27364-bd.svg#27364') format('svg');
  font-style: normal;
  font-weight: normal;
}

/*
@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url('https://use.fontawesome.com/releases/v5.8.2/webfonts/fa-regular-400.eot');
  src: url('https://use.fontawesome.com/releases/v5.8.2/webfonts/fa-regular-400.eot?#iefix') format('embedded-opentype'),
  url('https://use.fontawesome.com/releases/v5.8.2/webfonts/fa-regular-400.woff2') format('woff2'),
  url('https://use.fontawesome.com/releases/v5.8.2/webfonts/fa-regular-400.woff') format('woff'),
  url('https://use.fontawesome.com/releases/v5.8.2/webfonts/fa-regular-400.ttf') format('truetype'),
  url('https://use.fontawesome.com/releases/v5.8.2/webfonts/fa-regular-400.svg#fontawesome') format('svg');
}
*/
