header {
  height: 150px;
  color: #489;

  .logo {
    height: 100%;
    margin-top: -0.25rem;
    display: inline-block;
  }

  .title {
    position: absolute;
    bottom: 0;
    right: ($grid-gutter-width / 5);

    .diocese {
      font-size: 1.75rem;
      text-align: right;
    }

    .deanery {
      font-family: $font-cyrillic;
      font-size: 3.75rem;
      transform: scaleY(1.3);
      text-align: right;
      margin-top: -($grid-gutter-width / 6);
    }
  }
}
