.navbar {
  background-color: $white;
  min-height: 50px;
  border: 1px solid $border-color;
  padding: 0;

  .navbar-nav {
    li {
      border-right: 1px solid $border-color;
      padding: 5px;

      a {
        text-transform: uppercase;
      }
    }
  }

  form {
    border-left: 1px solid $border-color;
    margin-bottom: 0;
    margin-top: 0;
    height: 50px;
    padding-left: 15px;

    .form-control {
      border: none;
      box-shadow: none;
      padding-left: 0;
      padding-right: 0;
      color: #555;
    }

    .btn {
      background-color: transparent;
      border-color: transparent;
      outline: none;

      @include hover-focus-active {
        color: $brand-primary;
        border-color: transparent;
        outline: none;
        box-shadow: none;
      }
    }
  }
}

/*
.navbar .navbar-brand {
    font-family: "27364";
    font-size: 3em;
}

.navbar .navbar-right > li > a {
    border-right: 0;
    border-left: 1px solid #e3e3e3;
}
 */
