.news {
  &.latest-news {
    .news-item {
      border-bottom: none;
    }

    .news-item-small {
      h2 {
        margin: 0 0 5px;
        font-size: 1rem;
        word-break: normal !important;
      }

      .cover {
        padding-right: 0;
        padding-top: 2px;
      }

      .timestamp {
        color: #adb5bd;
        font-size: 0.9rem;
      }
    }
  }

  .news-item {
    padding: $grid-gutter-width;
    border-bottom: 1px solid $border-color;
    text-align: justify;

    &:last-child {
      border-bottom: none;
    }

    .timestamp {
      z-index: 1;
      position: absolute;
      top: ($grid-gutter-width * 1.5);
      background-color: $brand-primary;
      color: $white;
      padding: ($grid-gutter-width / 6);

      .date {
        display: block;
        font-size: 1.1rem;
      }

      .year {
        display: block;
        font-size: 0.9rem;
      }
    }

    h2.h3 {
      font-family: $font-family-sans-serif;
    }

    &,
    &-small {
      .category {
        display: block;
        font-size: 0.9rem;
        color: $input-placeholder-color;
        margin-bottom: 0.5rem;

        @include hover-focus-active {
          color: $link-hover-color;
        }
      }
    }
  }

  &.cols-2 {
    .news-item {
      &:nth-child(odd) {
        border-right: 1px solid $border-color;

        &:nth-last-child(2) {
          border-bottom: none;
        }
      }
    }
  }
}
