.sidebar-item {
  margin-bottom: $grid-gutter-width;

  .categories {
    a {
      display: block;
    }
  }

  .announcements {
    .announcement {
      margin-bottom: $grid-gutter-width;

      &:last-child {
        margin-bottom: 0;
      }

      .cover {
        text-align: center;

        img {
          max-width: 100%;
          margin-bottom: ($grid-gutter-width / 3);
          max-height: 200px;
        }
      }
    }
  }

  .orth-calendar {
    div {
      margin-bottom: 0.25rem;
    }
  }
}
