// Body
$body-bg: #f5f8fa;
$input-placeholder-color: #adb5bd;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #489;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$font-cyrillic: '27364';
$font-family-sans-serif: 'Roboto', sans-serif;
$text-color: #212529;

$link-decoration: none;
$link-hover-decoration: none;
$link-color: $brand-primary;

// Navbar
$navbar-light-bg: #fff;
$navbar-light-color: $text-color;
$navbar-light-hover-color: $brand-primary;
$navbar-light-active-color: $navbar-light-hover-color;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

$border-color: #e3e3e3;
