@import 'fonts';
@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index';
@import 'noselect';
@import 'header';
@import 'navbar';
@import 'sidebar';
@import 'news';
@import 'calendar';

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  margin-top: ($grid-gutter-width / 2);
}

.cyrillic {
  font-family: $font-cyrillic;
}

a,
button,
.btn {
  @include transition;
}

.content,
.content-wrapper {
  background-color: $white;
  border: 1px solid $border-color;
  border-top: none;
}

.content > div {
  border-right: 1px solid $border-color;

  &:last-child {
    border: none;
  }
}

.embed-responsive-item.cover {
  background: no-repeat center center;
  background-size: cover;
}

.read-more {
  display: inline-block;
  padding: 0 ($grid-gutter-width / 3);
  border: 1px solid $border-color;
  color: $input-placeholder-color;
  line-height: 1.8rem;
  font-size: 0.9rem;
  position: relative;
  margin-right: ($grid-gutter-width);

  .icon {
    text-align: center;
    position: absolute;
    top: -1px;
    right: -1.8rem;
    width: 1.8rem;
    border: 1px solid $border-color;
    color: $input-placeholder-color;
    font-size: 1rem;
  }
}

.wb-normal {
  word-break: normal !important;
}
