<template>
  <div class="announcements">
    <announcement-item v-for="i in 1" :key="i" />
  </div>
</template>

<script>
import AnnouncementItem from '~/components/AnnouncementItem'

export default {
  components: { AnnouncementItem }
}
</script>
