<template>
  <div class="announcement">
    <div class="cover">
      <img
        src="http://pravoslavie.poltava.ua/wp-content/uploads/2019/04/Poslanja_2019-731x1024.jpg"
      />
    </div>
    <div>
      Всечестные отцы, 28.03 в 15.00, просьба собраться в Преображенском храме,
      для сдачи квартальных отчетов и взносов, отец Духовник будет исповедовать.
    </div>
    <div class="text-right">
      <read-more />
    </div>
  </div>
</template>

<script>
import ReadMore from '~/components/ReadMore'

export default {
  components: { ReadMore }
}
</script>

