<template>
  <div :class="'embed-responsive embed-responsive-' + ratio">
    <div
      class="embed-responsive-item cover"
      :style="'background-image: url(\'' + url + '\')'"
    ></div>
  </div>
</template>

<script>
export default {
  props: {
    ratio: {
      type: String,
      default: '16by9'
    },
    url: {
      type: String,
      required: true
    }
  }
}
</script>
