<template>
  <div class="col-md-3 sidebar">
    <sidebar-item header="Объявления">
      <announcement-list />
    </sidebar-item>
    <sidebar-item header="Церковный календарь">
      <orth-calendar />
    </sidebar-item>
  </div>
</template>

<script>
import AnnouncementList from '~/components/AnnouncementList'
import OrthCalendar from '~/components/OrthCalendar'
import SidebarItem from '~/components/SidebarItem'

export default {
  components: {
    AnnouncementList,
    OrthCalendar,
    SidebarItem
  }
}
</script>
