<template>
  <div class="orth-calendar">
    <div class="font-weight-bold">
      {{ $moment().format('DD MMMM') }} ({{ day }})
    </div>
    <div v-html="call('print_saints')"></div>
    <div v-html="call('print_chten')"></div>
  </div>
</template>

<script>
export default {
  computed: {
    day() {
      let day = this.call('print_day')
      if (day) {
        day = day.substring(day.indexOf('(') + 1, day.indexOf(')'))
        return day.trim()
      }

      return ''
    }
  },
  methods: {
    call(action) {
      if (process.client && window[action]) {
        let data = window[action].toString()
        data = data.substring(data.indexOf('write("') + 7, data.indexOf('");'))
        data = data
          .replace(new RegExp("\\\\'", 'g'), "'")
          .replace(new RegExp('\\\\"', 'g'), '"')
        return data
      }
    }
  }
}
</script>
