<template>
  <b-row>
    <b-col class="sidebar-item">
      <h3 v-if="header" class="h4 cyrillic">{{ header }}</h3>
      <div>
        <slot />
      </div>
    </b-col>
  </b-row>
</template>

<script>
export default {
  props: {
    header: {
      type: String,
      default: null
    }
  }
}
</script>
