<template>
  <header class="row">
    <img class="logo" src="@/assets/img/logo.svg" />
    <div class="col">
      <div class="title">
        <div class="diocese">
          Одесская епархия Украинской Православной Церкви
        </div>
        <div class="deanery">ОВИДИОПОЛЬСКОЕ БЛАГОЧИНИЕ</div>
      </div>
    </div>
  </header>
</template>
