<template>
  <b-navbar class="row">
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item :to="{ name: 'index' }" exact>Главная</b-nav-item>
        <b-nav-item :to="{ name: 'news' }">Новости</b-nav-item>
        <b-nav-item>Публикации</b-nav-item>
        <b-nav-item>Духовенство</b-nav-item>
        <b-nav-item>Храмы</b-nav-item>
        <b-nav-item-dropdown text="Медиа" right>
          <b-dropdown-item>Фото</b-dropdown-item>
          <b-dropdown-item>Видео</b-dropdown-item>
          <b-dropdown-item>Аудио</b-dropdown-item>
        </b-nav-item-dropdown>
        <b-nav-item>Контакты</b-nav-item>
      </b-navbar-nav>
    </b-collapse>
    <b-nav-form right>
      <b-form-input placeholder="Поиск..."></b-form-input>
      <button class="btn" type="submit">
        <fa icon="search" />
      </button>
    </b-nav-form>
  </b-navbar>
</template>
