<template>
  <b-container>
    <the-header />
    <the-navbar />
    <nuxt class="content row" />
    <the-footer />
  </b-container>
</template>

<script>
import TheHeader from '~/components/TheHeader'
import TheNavbar from '~/components/TheNavbar'
import TheFooter from '~/components/TheFooter'

export default {
  components: {
    TheHeader,
    TheNavbar,
    TheFooter
  }
}
</script>
