<template>
  <div>
    <latest-news lg="9" />
    <home-sidebar />
  </div>
</template>

<script>
import HomeSidebar from '~/components/HomeSidebar'
import LatestNews from '~/components/news/LatestNews'

export default {
  components: { HomeSidebar, LatestNews }
}
</script>
